---
interface Props {
  errors: { label: string; description: string }[];
}

const { errors } = Astro.props;
---

<div class="py-6">
  <h3 class="mb-4 font-medium text-[var(--color-text)] text-lg">
    Errores Comunes
  </h3>
  <div class="flex flex-col gap-3">
    {errors.slice(0, 4).map((error) => (
      <p class="m-0 text-[14px] leading-relaxed text-[var(--dm-light-200)]">
        <span class="font-semibold text-[var(--color-text)]">{error.label}:</span>{' '}
        {error.description}
      </p>
    ))}
  </div>
</div>
